.mainmenu, .countryItem, .genderItem, .categoryItem {
  list-style: none;
  padding: 0;
	margin: 0;
}
.mainmenu p {
  display: block;
  background-color: #999;
  text-decoration: none;
	padding: 10px;
	margin: 0;
  color: #000;
}

.mainmenu li:hover .countryItem {
	display: block;
	max-height: 800px;
}
.countryItem, .genderItem, .categoryItem {
  overflow: hidden;
  display: none;
  -webkit-transition: all 0.5s ease-out;
}
.countryItem p, {
  background-color: #888;
}
.genderItem p {
  background-color: #777;
}
.categoryItem p {
  background-color: #666;
}

.countryItem li:hover .genderItem {
	display: block;
	max-height: 800px;
}
.genderItem li:hover .categoryItem {
	display: block;
	max-height: 800px;
}