<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q82I00R6O00">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/Q82I00R6O00-JBLK?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="gridName" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q82I00R6O00" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Hendryx
                            <br />Graphic Fringe T...</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q82I00R6O00" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$29.99</a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q74I09R00R1">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/Q74I09R00R1-TWHT?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="gridName" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q74I09R00R1" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Bella
                            <br />Beaded Logo Tee</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q74I09R00R1" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$18</a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q82P09R0380">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/Q82P09R0380-G530?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="gridName" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q82P09R0380" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Indie
                            <br />Rhinestone Logo Ta...</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q82P09R0380" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$16</a>
                    </td>
                    <tr>
            </table>
        </td>
        </tr>
</table>
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q8FP18R0T01">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/Q8FP18R0T01-JTMU?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="gridName" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q8FP18R0T01" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Bias
                            <br />Logo Cropped Tank</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q8FP18R0T01" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$22.99</a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q75I08R00Q0">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/Q75I08R00Q0-PEWH?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="gridName" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q75I08R00Q0" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Talyn
                            <br />Sequin Logo Tank</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q75I08R00Q0" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$16</a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q75I26R00Q0">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/Q75I26R00Q0-LMEU?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="gridName" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q75I26R00Q0" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Talyn
                            <br />Sequin Logo Tank</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guessfactory.com/en/catalog/view/Q75I26R00Q0" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$16</a>
                    </td>
                    <tr>
            </table>
        </td>
        </tr>
</table>