<!--[if !mso]><!-- -->
<style type="text/css">
    @media only screen and (max-width: 480px) {
        .MobileCtaTextSize {
            font-size: 2.5vw !important;
        }
    }

    @media only screen and (max-width: 600px) {
        .hide_mobile {
            display: none !important;
            width: 0px !important;
            height: 0px !important;
            visibility: hidden !important;
            overflow: hidden !important;
            font-size: 0px !important;
            line-height: 0px !important;
        }
        .show_for_mobile {
            display: block !important;
            width: auto !important;
            height: auto !important;
            overflow: visible !important;
            position: static !important;
            min-height: 0px !important;
            line-height: normal !important;
            font-size: medium !important;
        }
    }
</style>
<!--<![endif]-->
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" style="font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 40px; color: #000000; letter-spacing: .15em; line-height: 200%;">
            flipa
        </td>
    </tr>
</table>
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" class="hide_mobile">
    <tr>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82C98JR02P">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/O82C98JR02P-G615?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82C98JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            Logo
                            <br />Band Push-Up S...
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82C98JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            44 $
                        </a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82C99JR02P">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/O82C99JR02P-G615?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82C99JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            Logo
                            <br />Band Sports Bra
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82C99JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            34 $
                        </a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82E98JR02P">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/O82E98JR02P-G615?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82E98JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            Logo
                            <br />Band Sports Briefs
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82E98JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            18 $
                        </a>
                    </td>
                    <tr>
            </table>
        </td>
        </tr>
</table>
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" class="hide_mobile">
    <tr>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/E82A02LY00F">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/E82A02LY00F-A996?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/E82A02LY00F" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            GUESS
                            <br />x Amanda Cern...
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/E82A02LY00F" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            49 $
                        </a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82A23JR022">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/O82A23JR022-FT74?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82A23JR022" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            Ombre
                            <br />Logo Sports Bra
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82A23JR022" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            42 $
                        </a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82E99JR02P">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/O82E99JR02P-G615?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82E99JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            Logo
                            <br />Band Sports Thong
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82E99JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            18 $
                        </a>
                    </td>
                    <tr>
            </table>
        </td>
        </tr>
</table>
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" class="hide_mobile">
    <tr>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/E82A01LY00F">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/E82A01LY00F-A996?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/E82A01LY00F" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            GUESS
                            <br />x Amanda Cern...
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/E82A01LY00F" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            59 $
                        </a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82A11MC00M">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/O82A11MC00M-U149?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82A11MC00M" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            GUESS
                            <br />x Amanda Cern...
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82A11MC00M" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            49 $
                        </a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/53G7676095Z">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/53G7676095Z-JBLK?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/53G7676095Z" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            Penny
                            <br />Seamless Slip Dress
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/53G7676095Z" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                            54 $
                        </a>
                    </td>
                    <tr>
            </table>
        </td>
        </tr>
</table>
<!-- mobile view -->
<!--[if !mso]><!-- -->
<div class="show_for_mobile" align="center" style="display: none; width: 0px; height: 0px; overflow: hidden; min-height: 0px; line-height: 0px; font-size: 0px;">
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82C98JR02P">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/O82C98JR02P-G615?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82C98JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                Logo
                                <br />Band Push-Up S...
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82C98JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                44 $
                            </a>
                        </td>
                        <tr>
                </table>
            </td>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82C99JR02P">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/O82C99JR02P-G615?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82C99JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                Logo
                                <br />Band Sports Bra
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82C99JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                34 $
                            </a>
                        </td>
                        <tr>
                </table>
            </td>
            </tr>
    </table>
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82E98JR02P">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/O82E98JR02P-G615?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82E98JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                Logo
                                <br />Band Sports Briefs
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82E98JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                18 $
                            </a>
                        </td>
                        <tr>
                </table>
            </td>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/E82A02LY00F">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/E82A02LY00F-A996?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/E82A02LY00F" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                GUESS
                                <br />x Amanda Cern...
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/E82A02LY00F" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                49 $
                            </a>
                        </td>
                        <tr>
                </table>
            </td>
            </tr>
    </table>
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82A23JR022">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/O82A23JR022-FT74?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82A23JR022" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                Ombre
                                <br />Logo Sports Bra
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82A23JR022" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                42 $
                            </a>
                        </td>
                        <tr>
                </table>
            </td>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82E99JR02P">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/O82E99JR02P-G615?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82E99JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                Logo
                                <br />Band Sports Thong
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82E99JR02P" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                18 $
                            </a>
                        </td>
                        <tr>
                </table>
            </td>
            </tr>
    </table>
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/E82A01LY00F">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/E82A01LY00F-A996?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/E82A01LY00F" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                GUESS
                                <br />x Amanda Cern...
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/E82A01LY00F" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                59 $
                            </a>
                        </td>
                        <tr>
                </table>
            </td>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82A11MC00M">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/O82A11MC00M-U149?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82A11MC00M" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                GUESS
                                <br />x Amanda Cern...
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://www.guess.ca/en/catalog/view/O82A11MC00M" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">
                                49 $
                            </a>
                        </td>
                        <tr>
                </table>
            </td>
            </tr>
    </table>
</div>
<!--<![endif]-->