<!--[if !mso]><!-- -->
<style type="text/css">
    @media only screen and (max-width: 480px) {
        .MobileCtaTextSize {
            font-size: 2.5vw !important;
        }
    }

    @media only screen and (max-width: 600px) {
        .hide_mobile {
            display: none !important;
            width: 0px !important;
            height: 0px !important;
            visibility: hidden !important;
            overflow: hidden !important;
            font-size: 0px !important;
            line-height: 0px !important;
        }
        .show_for_mobile {
            display: block !important;
            width: auto !important;
            height: auto !important;
            overflow: visible !important;
            position: static !important;
            min-height: 0px !important;
            line-height: normal !important;
            font-size: medium !important;
        }
    }
</style>
<!--<![endif]-->
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" style="font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 40px; color: #000000; letter-spacing: .15em; line-height: 200%;">
        huipiuhipupnp </td>
    </tr>
</table>
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" class="hide_mobile">
    <tr>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H08R76N1">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81H08R76N1-JBLK?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H08R76N1" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Snake
                            <br />Tassel Moto Jacket</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H08R76N1" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$168</a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81I68I5K0Q">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81I68I5K0Q-JTMU?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81I68I5K0Q" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Dip-Dye
                            <br />Skull Crew Tee</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81I68I5K0Q" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$39</a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M71AS2R2HD0">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M71AS2R2HD0-OWWD?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M71AS2R2HD0" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Slim
                            <br />Taper Destroy Jeans</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M71AS2R2HD0" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$98</a>
                    </td>
                    <tr>
            </table>
        </td>
        </tr>
</table>
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" class="hide_mobile">
    <tr>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81XN1R1OA0">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81XN1R1OA0-ACDP?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81XN1R1OA0" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Rex
                            <br />Studded Denim Jacket</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81XN1R1OA0" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$148</a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H70R0QD0">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81H70R0QD0-P7J8?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H70R0QD0" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Walker
                            <br />Tropical Shirt</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H70R0QD0" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$69</a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H69R8JP0">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81H69R8JP0-P0N2?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H69R8JP0" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Paint
                            <br />Splatter Palm Shirt</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H69R8JP0" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$69</a>
                    </td>
                    <tr>
            </table>
        </td>
        </tr>
</table>
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" class="hide_mobile">
    <tr>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H68R8JP0">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81H68R8JP0-P99B?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H68R8JP0" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Neon
                            <br />Palm Shirt</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H68R8JP0" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$69</a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H60R8FJ0">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81H60R8FJ0-P93C?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H60R8FJ0" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Floral
                            <br />Scribble Printed ...</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H60R8FJ0" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$69</a>
                    </td>
                    <tr>
            </table>
        </td>
        <td align="center" width="33.3%">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81391K3WM8">
                            <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81391K3WM8-F0C1?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                style="display:block; border-style: none;"> </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81391K3WM8" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">High
                            <br />Livin Graphic Tee</a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-left:5%; padding-right:5%;">
                        <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81391K3WM8" class="gridName" style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$34</a>
                    </td>
                    <tr>
            </table>
        </td>
        </tr>
</table>
<!-- mobile view -->
<!--[if !mso]><!-- -->
<div class="show_for_mobile" align="center" style="display: none; width: 0px; height: 0px; overflow: hidden; min-height: 0px; line-height: 0px; font-size: 0px;">
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H08R76N1">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81H08R76N1-JBLK?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;"> </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H08R76N1" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Snake
                                <br />Tassel Moto Jacket</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H08R76N1" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$168</a>
                        </td>
                        <tr>
                </table>
            </td>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81I68I5K0Q">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81I68I5K0Q-JTMU?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;"> </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81I68I5K0Q" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Dip-Dye
                                <br />Skull Crew Tee</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81I68I5K0Q" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$39</a>
                        </td>
                        <tr>
                </table>
            </td>
            </tr>
    </table>
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M71AS2R2HD0">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M71AS2R2HD0-OWWD?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;"> </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M71AS2R2HD0" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Slim
                                <br />Taper Destroy Jeans</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M71AS2R2HD0" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$98</a>
                        </td>
                        <tr>
                </table>
            </td>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81XN1R1OA0">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81XN1R1OA0-ACDP?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;"> </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81XN1R1OA0" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Rex
                                <br />Studded Denim Jacket</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81XN1R1OA0" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$148</a>
                        </td>
                        <tr>
                </table>
            </td>
            </tr>
    </table>
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H70R0QD0">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81H70R0QD0-P7J8?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;"> </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H70R0QD0" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Walker
                                <br />Tropical Shirt</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H70R0QD0" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$69</a>
                        </td>
                        <tr>
                </table>
            </td>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H69R8JP0">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81H69R8JP0-P0N2?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;"> </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H69R8JP0" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Paint
                                <br />Splatter Palm Shirt</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H69R8JP0" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$69</a>
                        </td>
                        <tr>
                </table>
            </td>
            </tr>
    </table>
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H68R8JP0">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81H68R8JP0-P99B?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;"> </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H68R8JP0" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Neon
                                <br />Palm Shirt</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H68R8JP0" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$69</a>
                        </td>
                        <tr>
                </table>
            </td>
            <td align="center" width="50%">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" width="100%" style="padding-top: 20px; padding-bottom:20px; padding-left:5%; padding-right:5%; font-family: CenturyGothic, Futura, Verdana, sans-serif; font-size: 20px; color: #000000; letter-spacing: .15em; line-height: 200%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H60R8FJ0">
                                <img width="100%" src="https://s7d5.scene7.com/is/image/Guess/M81H60R8FJ0-P93C?wid=600&hei=807&fmt=pjpeg&pscan=auto&qlt=70,0&op_sharpen=1&resMode=bicub&op_usm=0.1,0.1,5,0&crop=0,136,1684,2261"
                                    style="display:block; border-style: none;"> </a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H60R8FJ0" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">Floral
                                <br />Scribble Printed ...</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-left:5%; padding-right:5%;">
                            <a _label="product-grid" href="https://shop.guess.com/en/catalog/view/M81H60R8FJ0" class="gridName"
                                style="text-decoration: none; font-family: 'Century Gothic', Futura, Verdana, sans-serif; font-size: 13px; color: #000000; letter-spacing: .15em; line-height: 200%; font-weight: bold;">$69</a>
                        </td>
                        <tr>
                </table>
            </td>
            </tr>
    </table>
</div>
<!--<![endif]-->